@mixin bg($color:false, $bg:false, $repeat:false, $position:false) {
  @if $color{
    background:$color;
  }
  @if $bg{
    background:url($static + $folder +'/img/'+ $bg) if($repeat, $repeat, no-repeat) if($position, $position, 50% 0);
  }
}

@mixin clearfix{
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

@mixin txtint{
  display: block;
  text-indent:-999em;
}

@mixin ellipsis($no-wrap: true) {
  @if $no-wrap{
    white-space:nowrap;
  }
  overflow:hidden;
  text-overflow:ellipsis;
}