@charset "utf-8";

$static:'../';
$folder:'';

$minWidth: 320px;
$fontFamily:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem;
$indentValue:-999em;
$bodyColor:#fff;
$baseFontSize:14px;
$fontColor:#333;
$linkColor:#555;
$hoverColor:#555;


@import "util/mixin";

/* defualt setting */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, strong { margin: 0; padding: 0; letter-spacing: -1px; }

body { background: $bodyColor; color: $fontColor; margin: 0; padding: 0; font-family: $fontFamily; font-size: $baseFontSize; line-height: 1; }

button { outline: 0; background: none; border: 0; cursor: pointer; }

img { border: 0; vertical-align: top }

ul, ol { list-style: none; }

em{ font-style: normal;}

table { border-spacing: 0; }

caption { height: 0; overflow: hidden; font-size: 0; }

a { color: $linkColor; text-decoration: none }

a:hover { color: $linkColor;  }

.box{ width: 1276px; height: 369px;@include bg($bg:'bg.jpg');

}
.log{ width: 1276px; height: 369px;@include bg($bg:'logo.png');
  mix-blend-mode: screen;
}

@mixin closeAni($width:false, $height:false,$bg:false,$round:false){
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:before,&:after{display: block; position: absolute; content:'';
    margin:auto;left: 0;top: 0;right: 0;bottom: 0;
    //left:50%;margin-left:-($width/2);margin-top: -($height/2);
    width: $width;height: $height; background: $bg;border-radius: $round;
  }
  &:before{transform: rotate(45deg)}
  &:after{transform: rotate(-45deg)}
  &:hover{transform: rotate(-90deg);}
}

button{ margin: 0;padding: 0;display: block;text-indent: -999em;border:0;background: none;
  font-size:0;position: absolute;outline:1px solid red;
  width: 60px;height: 60px;
  
  @include closeAni($width:60px,$height:1px,$bg:red);
}



